<header class="header">
  <div class=wrapper>
    <a class="header-logo" href="#" title="Ir a la home"> <img src="./assets/images/logo.png" alt="Spotify logo"></a>
    <nav>
      <a href="#" class="header-mobile-button" title="Mostrar menú móvil"></a>
      <ul class="header-menu">
        <li>
          <a href="#" title="Ir a premium">Premium</a>
        </li>
        <li>
          <a href="#" title="Ir a ayuda">Ayuda</a>
        </li>
        <li>
          <a href="#" title="Ir a descargas">Descargar</a>
        </li>
        <li>
          <a href="#" title="Ir a registrarse">Registrarse</a>
        </li>
        <li>
          <a href="#" title="Ir a iniciar sesión">Iniciar sesión</a>
        </li>
      </ul>
    </nav>
  </div>
</header>