<section class="newsletter">
  <form action="https://adalab.es/newsletter" class="newsletter__form" method="POST">
    <h3 class="newsletter__title">Subscríbete a nuestra newsletter</h3>
    <div>
      <label class="newsletter__label" for="name">Tu nombre</label>
      <input class="newsletter__input-text" type="text" id="name" name="name" placeholder="Escribe tu nombre" />
    </div>

    <div>
      <label class="newsletter__label" for="password">Tu contraseña</label>
      <input class="newsletter__input-text" type="password" id="password" name="password"
        placeholder="Escribe tu contraseña" />
    </div>

    <div>
      <label class="newsletter__label" for="newsletter__email">Tu email</label>
      <input class="newsletter__input-text" type="email" name="email" placeholder="example@gmail.com" required />
    </div>

    <div>
      <label for="">
        <input type="checkbox" value="accept" name="term">
        Acepta terminos y condiciones
      </label>
    </div>
    <input type="submit" class="newsletter__button" value="Subscríbete ahora" />
  </form>
</section>